<form action="save_message" method="post">            
    <h3>Send Message</h3>
  <div class="input-box">
    <input type="text" name="name" value="" placeholder="Name">
  </div>
  <div class="input-box">
    <input type="text" name="msg" value="" placeholder="Message">
  </div>
  <div class="input-box">
    
  </div>
  <div class="input-box">
    <input type="submit" class="send-btn" name="" value="Send"/>
  </div>
</form>